.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 70px;
  background: var(--bg);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  
}

@media (max-width: 64em) {
}

@media (max-width: 48em) {
  .header {
    flex-direction: column;
    height: 100px;
    justify-content: center;
    gap: 10px;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  & img {
    width: 36px;
    height: 32px;
    flex-shrink: 0;
  }
}

.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
