@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Raleway';
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text);
  background: var(--bg);

}
.lightMode {
  --bg: #fff;
  --text: #000;
  --dark-text: #fff;
  --btn-bg: #57c4dc;
  --btn-border: #3197b0;
  --btn-color: #16444f;
  --card-bg: #ededf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #23272f;
    --text: #fff;
    --dark-text: #000;
    --btn-bg: #16444f;
    --btn-border: #3197b0;
    --btn-color: #57c4dc;
    --card-bg: #343a46;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --text: #000;
    --dark-text: #fff;
    --btn-bg: #57c4dc;
    --btn-border: #3197b0;
    --btn-color: #16444f;
    --card-bg: #ededf0;
  }
}
