*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

body {
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}
iframe {
  pointer-events: fill !important;
}
input,
textarea,
select {
  line-height: inherit;

  background-color: transparent;
  border: none;
  color: inherit;
}
a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea,
select {
  outline: none;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

img,
picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background-color: transparent;
}

ul li {
  list-style: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

sup {
  line-height: 40%;
}
