.ForbiddenPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px 50px;
}
.title {
  width: fit-content;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
