.nav {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & input {
    // background: var(--card-bg);
    // border-radius: 60px;
  }
}
@media (max-width: 64em) {
  .nav {
    flex-wrap: wrap-reverse;
  }
}
.select {
  padding: 10px 45px 10px 15px;
  border-radius: 20px;
  background: var(--card-bg);

  display: flex;
  align-items: center;
  height: 42px;
  flex-grow: 1;
  /* Убираем дефолтную стрелку */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Добавляем свою иконку стрелочки */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;

  /* ВОТ ТУТ регулируем отступ от правого края (например, 20px) */
  background-position: right 15px center;
  background-size: 16px; /* Размер иконки */

  cursor: pointer;
}
.pagin {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
